flask==3.0.0
flask-cors==4.0.0
flask-pymongo==2.3.0
flask-jwt-extended==4.5.3
python-dotenv==1.0.0
cloudinary==1.36.0
transformers==4.36.0
torch==2.1.1
pandas==2.1.4
numpy==1.26.3
evaluate==0.4.1
deep-translator==1.11.4
gunicorn==21.2.0
pytest==7.4.3
pytest-cov==4.1.0